<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%=csrfToken%>" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      body {
        /* background: <%=form.backgroundImage%> !important; */
        background-color: <%=form.backgroundColor%> !important;
        font-size: <%=form.fontSize%>px !important;
        font-family: <%=form.fontFamily%> !important;
        color: <%=form.textColor%> !important;
      }
      @media (max-width: 480px){
        h1{
        margin:0;
        font-size: 2rem;
        }
      }
      .formHeaderContent{
        padding: 0%;
        padding-bottom: 5%;
      }
      .formHeaderContent img{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      #customForm {
        color: <%=form.textColor%> !important;
      }

      .contentItems > input[type="text"],
      .contentItems > textarea {
        width: 100% !important;
      }
      .contentItems > input[type="text"],
      .contentItems > textarea {
        width: 100% !important;
      }

      .contentItems > input[type="text"],
      .contentItems > textarea {
        width: 100% !important;
      }
      .contentItems {
        padding: 5%;
      }

      h1 {
        margin: 4%;
      }

      p {
        text-align: center;
        margin: 3%;
      }

      button {
        margin: 2%;
      }

      #customForm input[type="text"],
      #customForm textarea,
      #customForm input {
        color: <%=form.textColor%> !important;
      }

      input,
      textarea {
        caret-color: #26a69a;
      }

      .disable {
        pointer-events: initial;
      }

      #customForm .disable input,
      #customForm .disable textarea {
        background-color: #fff;
      }

      @media (min-width: 480px) {
        #img-logo-container {
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
        }
      }

      @media (max-width: 480px) {
        #img-logo-container {
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
        }
      }
    </style>
  </head>

  <body>
    <div class="formContent">
      <div class="formHeaderContent">
        <div id="img-logo-container" style="display: inline-block">
          <img src="<%=form.logo%>" id="img-logo-bg" style="display:
          block;"/> <img src="<%=form.logo%>" id="img-logo" style="display:
          block;" />
        </div>
  
        <h1><%= form.heading %></h1>
        <p><%=form.description%></p>
      </div>

      <form
        id="customForm"
        method="POST"
        action="/forms/<%= form.formCode%>"
        enctype="multipart/form-data"
      >
        <%- form.html %> <% if(!preview){%>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="contentItems captcha">
          <p>Enter the given captcha to submit the form</p>

          <div id="captcha1"></div>
          <br />
          <input
            type="text"
            name="captcha"
            id="captcha"
            class="textF"
            maxlength="6"
          />
        </div>
        <div class="btn-center">
          <button type="submit" id="sub" class="btn btn-primary">Submit</button>
        </div>
        <%}%>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="/js/app.js"></script>
    <% if(!preview){ %>
    <script>
      let captcha;
      let token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");

      function generateCaptcha() {
        fetch("/captcha", {
          credentials: "same-origin",
          headers: {
            "CSRF-Token": token,
          },
          method: "POST",
        })
          .then((res) => {
            return res.json();
          })
          .then((data) => {
            document.getElementById("captcha1").innerHTML = data.data;
            captcha = data.text;
          })
          .catch((err) => {
            console.log(err);
          });
      }
      generateCaptcha();
      var myTimer = setInterval(() => {
        generateCaptcha();
      }, 90000);
      $("#sub").click((e) => {
        if (document.getElementById("captcha").value !== captcha) {
          e.preventDefault();
          generateCaptcha();
          clearInterval(myTimer);
          alert("Invalid Captcha. Please try again.");
          myTimer = setInterval(() => {
            generateCaptcha();
          }, 90000);
        }
      });
    </script>
    <%}%>
  </body>
</html>
